* {
    padding: 0;
    margin: 0;
    font-family: sans-serif ;
}

#main-container {
    background-image: url('sleep.webp');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-left: 4.25rem;
    padding-right: 5rem;
    padding-bottom: 11rem;
    color: white;
    font-weight: 400;
}


.top-nav {
    /* height: 26.312rem; */
    width: 62.261rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 7rem;
    /* width: 69rem; */
    /* height: 26.312rem; */
    width: 62.261rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.logo {
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    margin-right: 2rem;
}

.quiz-button {
    color: white;
    font-weight: 700;
    margin: 0rem 0rem 0rem 0.625rem;
    font-size: 1rem;
    background-color: #179efa;
    height: 3rem;
    width: 11.25rem;
    padding: 0.625rem;
    border-radius: 2.5rem;
    cursor: pointer;
    opacity: 1;
    
}

.quiz-button:hover {
    opacity: 0.7;
}

.aa {
    text-decoration: none;
    color: white;
}

.middle-info {
    height: 26.312rem;
    width: 62.261rem;
    
}

.segregation {
    height: 20.312rem;
    width: 30.625rem;
}

.big-text {
    height: 10rem;
    font-size: 4rem;
}

.description {
    margin-top: 0.5rem;
    height: 2rem;
    font-weight: 700;
}

.info-button {
    margin-top: 1.25rem;
    height: 3rem;
    width: 6rem;
    background-color: #ff5643;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1.125rem 10rem;
    font-size: 1.625rem;
    font-weight: 700;
    display: flex;
    margin-bottom: 0.625rem;
    opacity: 1;
}

.info-button:hover {
    opacity: 0.8;
}

.bot {
    padding-left: 3rem;
}

a {
    color: white;
}